# 1. Data Understanding and exploration

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
missing_val = ['?']
df = pd.read_csv("Data/adult.csv",na_values=missing_val)

In [4]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K

In [15]:
df.tail()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
# Display the statistical analysis of numerical column
df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [7]:
df.shape

(48842, 15)

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        46043 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       46033 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   47985 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
None

In [11]:
total_rows = len(df)
del_row = df.isnull().any(axis = 1).sum()
print(total_rows, del_row)

48842 3620

In [12]:
df.isnull().any(axis = 1)

0        False
1        False
2        False
3        False
4         True
         ...
48837    False
48838    False
48839    False
48840    False
48841    False
Length: 48842, dtype: bool

In [13]:
#Discovering and handling missing values 
df.dropna(axis = 0, how = 'any', inplace=True)
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [14]:
current_rows = len(df)
print(current_rows)

45222

# 2. Data Preparation

In [16]:
#Considering ‘income’ as the target variable
target = df['income']
inputs = df.drop('income',axis=1)

In [18]:
categorical = inputs.select_dtypes(include = ['object'])
categorical.head()

,workclass,education,marital-status,occupation,relationship,race,gender,native-country
0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States
1,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States
2,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States
3,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States
5,Private,10th,Never-married,Other-service,Not-in-family,White,Male,United-States

In [19]:
numerical  = inputs.select_dtypes(include = ['int64','float'])
numerical.head()

   age  fnlwgt  educational-num  capital-gain  capital-loss  hours-per-week
0   25  226802                7             0             0              40
1   38   89814                9             0             0              50
2   28  336951               12             0             0              40
3   44  160323               10          7688             0              40
5   34  198693                6             0             0              30

In [20]:
#Removing unnecessary columns
df.drop(['fnlwgt'] , axis=1, inplace=True)
df.head()

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45222 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              45222 non-null  int64
 1   workclass        45222 non-null  object
 2   education        45222 non-null  object
 3   educational-num  45222 non-null  int64
 4   marital-status   45222 non-null  object
 5   occupation       45222 non-null  object
 6   relationship     45222 non-null  object
 7   race             45222 non-null  object
 8   gender           45222 non-null  object
 9   capital-gain     45222 non-null  int64
 10  capital-loss     45222 non-null  int64
 11  hours-per-week   45222 non-null  int64
 12  native-country   45222 non-null  object
 13  income           45222 non-null  object
dtypes: int64(5), object(9)
memory usage: 5.2+ MB

In [23]:
#Standardizing numerical data

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_num = pd.DataFrame(scaler.fit_transform(numerical),columns=numerical.columns)
df_num.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
0,-1.024983,0.350889,-1.221559,-0.146733,-0.21878,-0.078120
1,-0.041455,-0.945878,-0.438122,-0.146733,-0.21878,0.754701
2,-0.798015,1.393592,0.737034,-0.146733,-0.21878,-0.078120
3,0.412481,-0.278420,-0.046403,0.877467,-0.21878,-0.078120
4,-0.344079,0.084802,-1.613277,-0.146733,-0.21878,-0.910942

In [24]:
#Encoding categorical features

from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse=False)
df_cat=pd.DataFrame(ohe.fit_transform(categorical),columns=ohe.get_feature_names(categorical.columns))
df_cat.head()

,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_10th,education_11th,education_12th,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [25]:
df = pd.concat([df_num, df_cat], axis=1)
df.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,-1.024983,0.350889,-1.221559,-0.146733,-0.21878,-0.078120,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,-0.041455,-0.945878,-0.438122,-0.146733,-0.21878,0.754701,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.798015,1.393592,0.737034,-0.146733,-0.21878,-0.078120,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.412481,-0.278420,-0.046403,0.877467,-0.21878,-0.078120,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-0.344079,0.084802,-1.613277,-0.146733,-0.21878,-0.910942,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [35]:
#Train Test Split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df,\
                                                    target,\
                                                    test_size = 0.5,\
                                                    random_state = 0)

In [36]:
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(22611, 104) (22611,)
(22611, 104) (22611,)

# 3. Train the model on Training Data

In [37]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# 4. Predicting Test Data

In [38]:
y_pred = classifier.predict(x_test)

# 5. Evaluating each Model

In [39]:
# accuracy of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.8452965370837203

In [40]:
# the confusion matrix
conf_metrics = metrics.confusion_matrix(y_test, y_pred)
conf_metrics

array([[15713,  1230],
       [ 2268,  3400]], dtype=int64)

In [41]:
print(metrics.classification_report(y_test, y_pred))

# No. of features = 15

              precision    recall  f1-score   support

       <=50K       0.87      0.93      0.90     16943
        >50K       0.73      0.60      0.66      5668

    accuracy                           0.85     22611
   macro avg       0.80      0.76      0.78     22611
weighted avg       0.84      0.85      0.84     22611

# 6.Using RFE to extract the best features.

In [42]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [48]:
regressor = LogisticRegression(solver='lbfgs')
rfe = RFE(regressor,8)
fit = rfe.fit(x_train, y_train)

In [49]:
temp_df = pd.DataFrame({'Columns' : x_train.columns, 'Included' : rfe.support_, 'Ranking' : rfe.ranking_})

temp_df

                            Columns  Included  Ranking
0                               age     False       31
1                            fnlwgt     False       84
2                   educational-num     False        5
3                      capital-gain      True        1
4                      capital-loss     False       46
..                              ...       ...      ...
99          native-country_Thailand     False       38
100  native-country_Trinadad&Tobago     False        7
101    native-country_United-States     False       53
102          native-country_Vietnam      True        1
103       native-country_Yugoslavia     False       14

[104 rows x 3 columns]

In [50]:
imp_col = x_train.columns[rfe.support_]
imp_col

Index(['capital-gain', 'marital-status_Married-civ-spouse',
       'occupation_Farming-fishing', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'relationship_Other-relative',
       'relationship_Own-child', 'native-country_Vietnam'],
      dtype='object')

In [51]:
x_train_new = x_train[imp_col]

x_train_new.head()

,capital-gain,marital-status_Married-civ-spouse,occupation_Farming-fishing,occupation_Other-service,occupation_Priv-house-serv,relationship_Other-relative,relationship_Own-child,native-country_Vietnam
35642,-0.146733,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44716,0.877467,1.0,0.0,0.0,0.0,0.0,0.0,0.0
19100,1.854773,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13048,-0.146733,1.0,0.0,0.0,0.0,0.0,0.0,0.0
27973,0.877467,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
from sklearn.linear_model import LogisticRegression
regressor_new = LogisticRegression()
regressor_new.fit(x_train_new, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [53]:
x_test_new = x_test[imp_col]

y_test_pred_new = regressor_new.predict(x_test_new)

In [54]:
temp_df_new = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred_new})
temp_df_new

      Actual Predicted
44688  <=50K     <=50K
38106  <=50K     <=50K
29131  <=50K     <=50K
31472   >50K     <=50K
45120  <=50K     <=50K
...      ...       ...
34599  <=50K     <=50K
21284  <=50K     <=50K
506    <=50K     <=50K
32259  <=50K     <=50K
2886   <=50K     <=50K

[22611 rows x 2 columns]

In [55]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_test_pred_new)

0.7860333466012118

In [56]:
conf_metrics = metrics.confusion_matrix(y_test, y_test_pred_new)
conf_metrics

array([[16664,   279],
       [ 4559,  1109]], dtype=int64)

In [57]:
result_df = pd.DataFrame({'result_test': y_test, 'result_test_new': y_test_pred_new})

result_df.head()

      result_test result_test_new
44688       <=50K           <=50K
38106       <=50K           <=50K
29131       <=50K           <=50K
31472        >50K           <=50K
45120       <=50K           <=50K

# 7. PCA

# a.) Using Logistic Regression

In [58]:
# initializing the pca
from sklearn.decomposition import PCA
pca = PCA()

In [59]:
pca.fit(x_train)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [60]:
from sklearn.decomposition import PCA
pca_final = PCA(n_components = 15)
x_train = pca_final.fit_transform(x_train)

In [61]:
x_train.shape

(22611, 15)

In [62]:
x_test = pca_final.transform(x_test)

In [68]:
# split into train and test 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df,\
                                                           target,\
                                                           test_size=0.25)

# b.) Using K-NN

In [73]:
# train the model
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier()
classifier.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [74]:
# prediction
y_pred = classifier.predict(x_test)

In [75]:
# evaluation
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.8859012913497258

In [77]:
# classification report
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       <=50K       0.94      0.92      0.93      8950
        >50K       0.71      0.77      0.74      2356

    accuracy                           0.89     11306
   macro avg       0.82      0.84      0.83     11306
weighted avg       0.89      0.89      0.89     11306

# c.) Using DT

In [78]:
# train the model
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(max_depth = 2)
classifier.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=2, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [80]:
# prediction
y_pred = classifier.predict(x_test)

In [89]:
# evaluation
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.9564832832124536

In [83]:
# classification report
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       <=50K       0.92      0.97      0.95      8950
        >50K       0.87      0.69      0.77      2356

    accuracy                           0.91     11306
   macro avg       0.90      0.83      0.86     11306
weighted avg       0.91      0.91      0.91     11306

# d.) Using SVM

In [84]:
# train the model
from sklearn.svm import SVC
classifier = SVC()
classifier.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [87]:
# prediction
y_pred = classifier.predict(x_test)

In [86]:
# prediction
y_pred = classifier.predict(x_test)

In [ ]:
# classification report
print(metrics.classification_report(y_test, y_pred))